.bg-light-primary { background-color: #e3f2fd; }
.text-primary { color: #1976d2; }

.bg-light-warning { background-color: #fff8e1; }
.text-warning { color: #fbc02d; }

.bg-light-error { background-color: #ffebee; }
.text-error { color: #d32f2f; }

.bg-light-success { background-color: #e8f5e9; }
.text-success { color: #388e3c; }

.bg-light-secondary { background-color: #eeeeee; }
.text-secondary { color: #616161; }

.rounded { border-radius: 8px; }
.f-w-600 { font-weight: 600; }
.p-6 { padding: 6px; }
.p-y-4 { padding-top: 4px; padding-bottom: 4px; }
.f-s-12 { font-size: 12px; }
.bg-light-dark {
    background-color: #d6d8db;
  }
  .text-dark {
    color: #343a40;
  }
  
  .bg-light-info {
    background-color: #d1ecf1;
  }
  .text-info {
    color: #17a2b8;
  }
  
