<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Dossiers délégués</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="DossiersDelegues" class="w-100">

        <!-- idDossier -->
<ng-container matColumnDef="idDossier">
  <th mat-header-cell *matHeaderCellDef>ID Dossier</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.idDossier; else notAvailable">{{ element.idDossier }}</span>
    <ng-template #notAvailable>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- dateDebut -->
<ng-container matColumnDef="dateDebut">
  <th mat-header-cell *matHeaderCellDef>Date Début</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.dateDebut; else notAvailableDate">{{ element.dateDebut | date }}</span>
    <ng-template #notAvailableDate>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- dateExpiration -->
<ng-container matColumnDef="dateExpiration">
  <th mat-header-cell *matHeaderCellDef>Date Expiration</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.dateExpiration; else notAvailableDateExp">{{ element.dateExpiration | date }}</span>
    <ng-template #notAvailableDateExp>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- etatDossier -->
<ng-container matColumnDef="etatDossier">
  <th mat-header-cell *matHeaderCellDef>État dossier</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.etatDossier; else notAvailableEtat"
      class="rounded f-w-600 p-6 p-y-4 f-s-12"
      [ngClass]="{
                'bg-light-primary text-primary': element.etatDossier === 'TRAITEMENT',
                'bg-light-warning text-warning': element.etatDossier === 'ANNULE',
                'bg-light-error text-error': element.etatDossier === 'REJETE',
                'bg-light-success text-success': element.etatDossier === 'VALIDE',
                'bg-light-dark text-dark': element.etatDossier === 'CLOTURE',
                'bg-light-info text-info': element.etatDossier === 'OUVERT'
              }"
    >
      {{ element.etatDossier | titlecase }}
    </span>
    <ng-template #notAvailableEtat>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- dateCre -->
<ng-container matColumnDef="dateCre">
  <th mat-header-cell *matHeaderCellDef>Date Création</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.dateCre; else notAvailableDateCre">{{ element.dateCre | date }}</span>
    <ng-template #notAvailableDateCre>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- dateCloture -->
<ng-container matColumnDef="dateCloture">
  <th mat-header-cell *matHeaderCellDef>Date Clôture</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.dateCloture; else notAvailableDateCloture">{{ element.dateCloture | date }}</span>
    <ng-template #notAvailableDateCloture>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>

<!-- motifcloture -->
<ng-container matColumnDef="motifcloture">
  <th mat-header-cell *matHeaderCellDef>Motif Clôture</th>
  <td mat-cell *matCellDef="let element">
    <span *ngIf="element.motifcloture?.trim(); else notAvailableMotif">{{ element.motifcloture }}</span>
    <ng-template #notAvailableMotif>
      <span class="bg-light-dark text-dark">( non disponible )</span>
    </ng-template>
  </td>
</ng-container>


        <!-- Header + Rows -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
