<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Dossiers délégués</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="DossiersDelegues" class="w-100">

        <!-- idDossier -->
        <ng-container matColumnDef="idDossier">
          <th mat-header-cell *matHeaderCellDef>ID Dossier</th>
          <td mat-cell *matCellDef="let element">{{ element.idDossier }}</td>
        </ng-container>

        <!-- dateDebut -->
        <ng-container matColumnDef="dateDebut">
          <th mat-header-cell *matHeaderCellDef>Date Début</th>
          <td mat-cell *matCellDef="let element">{{ element.dateDebut | date }}</td>
        </ng-container>

        <!-- dateExpiration -->
        <ng-container matColumnDef="dateExpiration">
          <th mat-header-cell *matHeaderCellDef>Date Expiration</th>
          <td mat-cell *matCellDef="let element">{{ element.dateExpiration | date }}</td>
        </ng-container>

        <!-- etatDoss -->
      <!-- etatDoss -->
      <ng-container matColumnDef="etatDoss">
        <th mat-header-cell *matHeaderCellDef>État</th>
        <td mat-cell *matCellDef="let element">
          <span
            class="rounded f-w-600 p-6 p-y-4 f-s-12"
            [ngClass]="{
              'bg-light-primary text-primary': element.etatDoss === 'TRAITEMENT',
              'bg-light-warning text-warning': element.etatDoss === 'ANNULE',
              'bg-light-error text-error': element.etatDoss === 'REJETE',
              'bg-light-success text-success': element.etatDoss === 'VALIDE',
              'bg-light-dark text-dark': element.etatDoss === 'CLOTURE',
              'bg-light-info text-info': element.etatDoss === 'OUVERT'
            }"
          >
            {{ element.etatDoss | titlecase }}
          </span>
        </td>
        
      </ng-container>


        <!-- dateCre -->
        <ng-container matColumnDef="dateCre">
          <th mat-header-cell *matHeaderCellDef>Date Création</th>
          <td mat-cell *matCellDef="let element">{{ element.dateCre | date }}</td>
        </ng-container>

        <!-- dateClo -->
        <ng-container matColumnDef="dateClo">
          <th mat-header-cell *matHeaderCellDef>Date Clôture</th>
          <td mat-cell *matCellDef="let element">{{ element.datclo | date }}</td>
        </ng-container>

        <!-- motifClo -->
        <ng-container matColumnDef="motifClo">
          <th mat-header-cell *matHeaderCellDef>Motif Clôture</th>
          <td mat-cell *matCellDef="let element">{{ element.motifclo }}</td>
        </ng-container>

        <!-- motifProlong -->
        <ng-container matColumnDef="motifProlong">
          <th mat-header-cell *matHeaderCellDef>Motif Prolongation</th>
          <td mat-cell *matCellDef="let element">{{ element.motifProlong }}</td>
        </ng-container>

        <!-- typeDoss -->
        <ng-container matColumnDef="typeDoss">
          <th mat-header-cell *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <!-- rapportMouvement -->
        <ng-container matColumnDef="rapportMouvement">
          <th mat-header-cell *matHeaderCellDef>Rapport</th>
          <td mat-cell *matCellDef="let element">{{ element.rapportMouvement  }}</td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item><mat-icon>edit</mat-icon><span>Edit</span></button>
              <button mat-menu-item><mat-icon>delete</mat-icon><span>Delete</span></button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
