<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Table des Transferts</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="Transferts" class="w-100">

        RefTransfert Column 
        <ng-container matColumnDef="refTransfert">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">RefTransfert</th>
          <td mat-cell *matCellDef="let element" class="p-l-0">
            {{ element.refTransfert }}
          </td>
        </ng-container>

        Etat Column 
        <ng-container matColumnDef="etat">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">État</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="rounded f-w-600 p-6 p-y-4 f-s-12"
              [ngClass]="{
                'bg-light-primary text-primary': element.etat === 'TRAITEMENT',
                'bg-light-warning text-warning': element.etat === 'ANNULE',
                'bg-light-error text-error': element.etat === 'REJETE',
                'bg-light-success text-success': element.etat === 'VALIDE',
                'bg-light-info text-info': element.etat === 'ENVOYE'
              }"
            >
              {{ element.etat | titlecase }}
            </span>
          </td>
        </ng-container>

         NatureOperation Column 
        <ng-container matColumnDef="natureOperation">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Nature Opération</th>
          <td mat-cell *matCellDef="let element">
            {{ element.natureOperation }}
          </td>
        </ng-container>

         MontantTransfert Column 
        <ng-container matColumnDef="montantTransfert">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Montant</th>
          <td mat-cell *matCellDef="let element">
            {{ element.montantTransfert | currency }}
          </td>
        </ng-container>

         NatureTransfert Column 
        <ng-container matColumnDef="natureTransfert">
          <th mat-header-cell *matHeaderCellDef>Nature Transfert</th>
          <td mat-cell *matCellDef="let element">{{ element.natureTransfert }}</td>
        </ng-container>

         MontantFinal Column 
        <ng-container matColumnDef="montantFinal">
          <th mat-header-cell *matHeaderCellDef>Montant Final</th>
          <td mat-cell *matCellDef="let element">{{ element.montantFinal | currency }}</td>
        </ng-container>

        Frais Column 
        <ng-container matColumnDef="frais">
          <th mat-header-cell *matHeaderCellDef>Frais</th>
          <td mat-cell *matCellDef="let element">{{ element.frais | currency }}</td>
        </ng-container>

         Date Creation Column 
        <ng-container matColumnDef="datecre">
          <th mat-header-cell *matHeaderCellDef>Date Création</th>
          <td mat-cell *matCellDef="let element">{{ element.datecre | date }}</td>
        </ng-container>

         Date Envoi Column 
        <ng-container matColumnDef="dateEnvoie">
          <th mat-header-cell *matHeaderCellDef>Date Envoi</th>
          <td mat-cell *matCellDef="let element">{{ element.dateEnvoie | date }}</td>
        </ng-container>

         Type Transfert Column 
        <ng-container matColumnDef="typeTransfert">
          <th mat-header-cell *matHeaderCellDef>Type Transfert</th>
          <td mat-cell *matCellDef="let element">{{ element.typeTransfert }}</td>
        </ng-container>

         Type Frais Column
        <ng-container matColumnDef="typeFrais">
          <th mat-header-cell *matHeaderCellDef>Type Frais</th>
          <td mat-cell *matCellDef="let element">{{ element.typeFrais }}</td>
        </ng-container>

     Compte Source Column
    <ng-container matColumnDef="compteSource">
      <th mat-header-cell *matHeaderCellDef>Compte Source</th>
      <td mat-cell *matCellDef="let element">{{ element.compteBancaire_cible.numeroCompte     }}</td>
    </ng-container>

     Compte Cible Column 
    <ng-container matColumnDef="compteCible">
      <th mat-header-cell *matHeaderCellDef>Compte Cible</th>
      <td mat-cell *matCellDef="let element">{{ element.compteBancaire_source.numeroCompte }}</td>
    </ng-container>


        Header & Row 
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
