<div class="chat-container">
  <div class="chat-header">
    <span class="header-title">Chat</span>
    <div class="header-subtitle">Dashboard &bull; Chat</div>
  </div>

  <div class="chat-box">
    <div class="chat-sidebar">
      <img src="assets/avatar-james.png" class="avatar" alt="Avatar" />
      <span class="contact-name">James Johnson</span>
    </div>

    <div class="chat-content">
      <div class="message left">
        <img src="assets/avatar-james.png" class="avatar-small" alt="Avatar" />
        <div class="bubble">Hi Luke.</div>
        <div class="date">Jan 5, 2025</div>
      </div>

      <div class="message left">
        <img src="assets/avatar-james.png" class="avatar-small" alt="Avatar" />
        <div class="bubble">How are you my friend?</div>
        <div class="date">Jan 6, 2025</div>
      </div>

      <div class="message right">
        <div class="bubble">I am good and what about you?</div>
        <div class="date">Jan 6, 2025</div>
      </div>
    </div>
  </div>

  <div class="chat-input">
    <input type="text" placeholder="Send message" />
    <mat-icon class="send-icon">send</mat-icon>
  </div>
</div>
