<div class="chat-container">

  <div class="chat-box">
    <div class="chat-sidebar">
      <img src="assets/robot.png" class="avatar" alt="Avatar" />
      <span class="contact-name">Assistant GTI</span>
    </div>

    <div class="chat-content">
      <div class="messages">
        <div class="message left">
          <img src="assets/robot.png" class="avatar-small" alt="Avatar" />
          <div class="bubble">Bonjour</div>
          <div class="date">Jan 5, 2025</div>
        </div>

        <div class="message left">
          <img src="assets/robot.png" class="avatar-small" alt="Avatar" />
          <div class="bubble">Comment puis-je vous aider aujourd'hui ?</div>
          <div class="date">Jan 6, 2025</div>
        </div>

        <div class="message right">
          <div class="bubble">je veux dupliquer le dossier DOSS003</div>
          <div class="date">Jan 6, 2025</div>
        </div>
        
        <div class="message left">
          <img src="assets/robot.png" class="avatar-small" alt="Avatar" />
          <div class="bubble"> Le dossier DOSS003 a été dupliqué avec succès. Voici l'identifiant du nouveau dossier : DOSS004.</div>
          <div class="date">Jan 6, 2025</div>
        </div>
      </div>

      <div class="chat-input">
        <input type="text" placeholder="Send message" />
        <mat-icon class="send-icon">send</mat-icon>
      </div>
    </div>
  </div>

</div>
