<div class="chat-container">
  <div class="chat-box">
    <div class="chat-sidebar">
      <img src="assets/robot.png" class="avatar" alt="Avatar" />
      <span class="contact-name">Assistant GTI</span>
    </div>

    <div class="chat-content-wrapper">
      <div class="messages-container">
        <div class="messages">
          <div *ngFor="let message of conversationcourante.messages" >
            <div class="message user" *ngIf="message.texteMessage">
              <div class="bubble">{{ message.texteMessage }}</div>
            </div>
            <!-- <div class="message bot" *ngIf="message.texteReponse">
              <div class="bubble">{{ message.texteReponse }}</div>
            </div> -->
              <!-- Message bot -->
            <div class="message bot" *ngIf="message.texteReponse" [ngClass]="{ 'pdf-message': isPdfLink(message.texteReponse) }">
              <div class="bubble">
                <ng-container *ngIf="isPdfLink(message.texteReponse); else checkProlongation">
                  <a *ngIf="pdfBlobUrls.get(message.texteReponse)"   [href]="pdfBlobUrls.get(message.texteReponse)" target="_blank" rel="noopener">👉 Cliquez ici pour ouvrir le PDF</a>
                  <span *ngIf="!pdfBlobUrls.get(message.texteReponse)">📄 ce document n'est pas disponible...</span>
                </ng-container>
                <ng-template #checkProlongation>
                  <ng-container *ngIf="isProlongationLink(message.texteReponse); else textOnly">
                    <label>📁 Choisir un justifiatif pour la prolongation :</label>
                    <input type="file" (change)="onFileSelected($event,message)">
                  </ng-container>
                </ng-template>
                <ng-template #textOnly>{{ message.texteReponse }}</ng-template>
              </div>
            </div>
          <!-- <div class="message bot typing-indicator" *ngIf="botTyping">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div> -->

        </div>
        <div class="message bot typing-indicator" *ngIf="botTyping">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
      </div>
      
      <div class="chat-input">
        <input matInput [(ngModel)]="newMessage" placeholder="demander quelque chose" (keyup.enter)="sendMessage()">
        <button mat-icon-button (click)="sendMessage()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>