<div class="background-wave"></div>

<div class="login-wrapper">
  <div class="login-container">
    <div class="login-left">
      <img
        src="https://media.licdn.com/dms/image/v2/D4D0BAQFUhQ_UWkbXHw/company-logo_200_200/company-logo_200_200/0/1695890606486/generale_tunisienne_informatique_logo?e=2147483647&v=beta&t=RnGd5hF4LZ-RajySWMWaXdm1J04cYCg7mOx0-KA_JpY"
        alt="GTI Logo"
        class="logo" style="height: 120px; width: 120px;"
      />
      <h2>Connexion à GTI Financière</h2>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="custom-field" appearance="outline">
          <input matInput placeholder="Adresse e-mail" type="email" formControlName="uname" />
        </mat-form-field>

        <mat-form-field class="custom-field" appearance="outline">
          <input matInput placeholder="Mot de passe" type="password" formControlName="password" />
        </mat-form-field>

        <button mat-flat-button color="primary" class="login-button" [disabled]="form.invalid">Connexion</button>
        <a href="#" class="forgot-link">Mot de passe oublié ?</a>
      </form>
    </div>

    <div class="login-right">
      <img src="assets/frontphoto.png" alt="Login Image" />
    </div>
  </div>
</div>


